<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Valos realizar seu cadastro, precisamos apenas de algumas informações</p>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input placeholder="Eduardo da Silva Andrade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input placeholder="eduardo@dev.io"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Celular</ion-label>
    <ion-input placeholder="(00) 0 0000-0000"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Estado</ion-label>
    <ion-input placeholder="São Paulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">CPF</ion-label>
    <ion-input placeholder="000.000.000-00"></ion-input>
  </ion-item>
  <ion-item>
    <ion-buttons slot="end">
      <ion-button expand="block" color="primary">Próximo</ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>
