<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="id < 1">New User</ion-title>
    <ion-title *ngIf="id > 0">Updated User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Valos realizar seu cadastro, precisamos apenas de algumas informações</p>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input placeholder="Eduardo da Silva Andrade" [(ngModel)]="nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="eduardo@dev.io" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Celular</ion-label>
    <ion-input type="tel" placeholder="(00) 0 0000-0000" [(ngModel)]="celular"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Cidade</ion-label>
    <ion-input placeholder="São Paulo" [(ngModel)]="cidade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">CPF</ion-label>
    <ion-input type="number " placeholder="000.000.000-00" [(ngModel)]="cpf"></ion-input>
  </ion-item>
  <ion-item *ngIf="id < 1">
    <ion-buttons slot="end">
      <ion-button expand="block" color="primary" (click)="cadastrar()">Cadastrar</ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item *ngIf="id > 0">
      <ion-buttons slot="end">
        <ion-button expand="block" color="primary" (click)="update()">Atualizar</ion-button>
      </ion-buttons>
  </ion-item>
</ion-content>
